extends layout

block content
  h1= title
  p API for a simple app to track upcoming IPOs in Nepal.
  p Created by <em>Sanjog Rai</em>
  a(href='//github.com/sombii' target='_blank') github
  |
  |
  a(href='//linkedin.com/in/sombii' target='_blank') linkedin

